h1{
    color:brown;
  text-align: center;
  }
  
  
  img{
    margin-top: 16px;
    width: 40%;
    
  }
  
  .centralizar {
    text-align: center;
  }
  h2{
    color: brown;
    text-align: center;
  }
  h3{
    color:brown;
  text-align: center;
  }
  h3{
    color:brown;
  text-align: center;
  }
  
  H4{
    color:black;
    text-align: center;
  }